# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specifics
/dist/
*.db
queue.json
downloads.db
echovault.db
history.db
config.json

# Logs
*.log
dl_output*.txt
dl_input.txt

# VS Code
.vscode/

# IDEs
.idea/
*.swp
build/
Downloads/
